.pageContainer {
  padding: 20px 40px;
}

.topHeader {
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 200px 1fr 300px;
  height: 120px;
}

.planItLogo {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
  margin-bottom: 0px;
}

.pageNavBar {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}

.addPlanButton {
  grid-column: 3/4;
  justify-self: end;
  align-self: center;
}

.checklistContainer {
  padding: 10px 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #4062bb;
  text-align: center;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1260px;
  margin: 0 auto;
}

.categorySection {
  background: #f7f4f0;
  padding: 15px;
  border-radius: 12px;
}

.categoryTitle {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ded2c2;
  padding-bottom: 10px;
  font-weight: bold;
}

.itemsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 10px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* position: relative;  */
}

.checkboxInput {
  position: absolute; /* Default checkbox does not take up space */
  opacity: 0; /* Hide the default checkbox */
  /* height: 0;
  width: 0; */
}

.customCheckbox {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  position: relative; /* For the checkmark positioning */
  transition: all 0.2s ease;
  flex-shrink: 0; /* Prevent shrinking */
}

.checkboxInput:checked ~ .customCheckbox {
  /* When checked, customCheckbox changes */
  background-color: #4caf50;
  border-color: #4caf50;
}

.customCheckbox:after {
  /* Draw checkmark using border */
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxInput:checked ~ .customCheckbox:after {
  display: block; /* Show checkmark when checked */
}

.itemText {
  font-size: 18px;
  color: #333;
  transition: color 0.2s;
}

.checkedText {
  text-decoration: line-through;
  color: #999;
}
