.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.topFormContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.dayCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 26px;
}

.btnContainer {
  min-width: 420px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .topFormContainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
  .dayCardContainer {
    width: 100%;
  }
}
