.planDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 20px 16px 16px 16px;
  padding: 0;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
