.upcomingPlan {
  display: grid;
  grid-template-columns: 390px 1fr;
  grid-template-rows: 100px 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px 40px 0;
  min-height: 95vh;

  @media (max-width: 960px) {
    grid-template-columns: 330px 1fr;
    column-gap: 10px;
  }
}

.dropdownSelect {
  width: 100%;
  /* width: 370px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.planCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.planItLogo {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  align-self: center;
  margin-bottom: 0px;
}

.addPlanButton {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}

.upcomingPlanContainer {
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  align-self: start;
  background-color: #f7f4f0;
  padding: 30px 20px;
  border-radius: 20px;
  height: auto;
  width: 100%;
  /* max-height: 100vh;
  overflow-y: auto; */
}

.rightColumnLarge {
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #ffffff;
  border-radius: 20px;
}

.clickPrompt {
  color: #393939;
  font-size: 20px;
  text-align: center;
  background-color: #f7f4f0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.selectButton {
  font-size: 20px;
  padding: 0 15px;
}

.deleteButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
