.dayPlanCardContainer {
  background-color: #f7f4f0;
  border-radius: 30px;
  width: 420px;
  height: auto;
  padding: 25px;
}

.cardTitle {
  color: black;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weather {
  color: #4062bb;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .dayPlanCardContainer {
    width: 100%;
    background-color: #f7f4f0;
    padding: 32px 80px;
  }

  .dayPlanCardContent {
    max-width: 740px;
    margin: 0 auto;
  }
  .cardTitle {
    font-size: 28px;
  }

  .weather {
    font-size: 22px;
  }
}
