.navBarContainer {
  width: 100%;
  height: 39px;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  z-index: 1000;
  font-family: "Outfit", sans-serif;
}

.nav-item-middle {
  display: flex;
  margin: auto;
}

/* .nav-item-left {
  display: flex;
  margin-left: auto;
} */

.nav-item-right {
  display: flex;
  margin-right: auto;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navBarContainer {
    position: relative;
  }

  .navItemLeft {
    display: none;
  }

  .shareBtn {
    display: none;
  }
}
