.container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;

  @media (max-width: 960px) {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #4062bb;
  font-size: 20px;
  gap: 5px;

  @media (max-width: 960px) {
    align-items: center;
  }
}

.weatherInfo {
  font-size: 18px;
  font-weight: 500;
}

.temperature {
  margin-left: 8px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 230px;
  justify-content: flex-start;
  @media (max-width: 960px) {
    justify-content: center;
  }
}

.navLink {
  font-size: 22px;
  text-decoration: none;
  font-weight: 300;
  color: #5d6c90;
}

.navLinkActive {
  font-weight: 800;
  color: #4062bb;
}
