.topHeader {
  display: grid;
  grid-template-columns: 200px 1fr 290px;
  height: 130px;
  align-items: center;
  margin: 15px 30px 0px 30px;

  @media (max-width: 960px) {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
  }
}

.planItLogo {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
  margin-bottom: 0px;
}

.pageNavBar {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}

.addPlanButton {
  grid-column: 3/4;
  justify-self: end;
  align-self: center;
}
